aside.menu-area {
	background-color: var(--bg-dark);
	box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12) 2px 0 15px 0 rgba(0, 0, 0, 0.9);
}

.menu a {
	display: block;
	text-decoration: none;
	color: #0c1f27;
	font-weight: 500;
	padding: 5px;
}

.menu a:hover {
	background: #3291b3;
}

.active-link {
	border-left: 3px solid;
	border-bottom: 2px solid;
	border-top: 2px solid;
	background: #3291b3;
}
